Makefile
autom4te.cache/
config.h
config.h.in~
config.log
config.status
solaris/package/sol8-sparc/pkginfo
solaris/package/sol9-sparc/pkginfo
src/.deps/
stamp-h1
xmlstarlet.spec
src/.dirstamp
src/c14n-usage.c
src/depyx-usage.c
src/edit-usage.c
src/elem-usage.c
src/escape-usage.c
src/format-usage.c
src/ls-usage.c
src/pyx-usage.c
src/select-usage.c
src/trans-usage.c
src/unescape-usage.c
src/usage.c
src/validate-usage.c
src/*.o
version.h
xmlstarlet
aclocal.m4
Makefile.in
