Makefile
autom4te.cache/
config.h
config.log
config.status
src/.deps/
src/.dirstamp
stamp-h1
xmlstarlet.spec
src/*.o
src/c14n-usage.c
src/depyx-usage.c
src/edit-usage.c
src/elem-usage.c
src/escape-usage.c
src/format-usage.c
src/ls-usage.c
src/pyx-usage.c
src/select-usage.c
src/trans-usage.c
src/unescape-usage.c
src/usage.c
src/validate-usage.c
version.h
xmlstarlet
